<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/profile.css">
    <script src="/javascript.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Profile</title>
</head>

<body>

    {{>navbar}}
    {{>modal}}


    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Launch demo modal
    </button> -->
    <div class="jumbotron">
        <h1>Hello, {{artist_name}}</h1>
    </div>
    <div class="container">


        <div class="pro-img">
            <a href='#'>
                <img data-toggle="modal" data-target="#exampleModalCenter" src="{{profile_pic}}" alt=""
                    class="clip-circle">
            </a>

        </div>

        <form action="/profile/{{id}}" method="POST">
            <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Artis Name</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-lg" id="colFormLabelLg" value="{{artist_name}}"
                        name="artist_name">
                </div>
            </div>
            <!-- <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Album Username</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-lg" id="colFormLabelLg" value="{{email}}">
                </div>
            </div> -->
            <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                <div class="col-sm-10">
                    <input name="email" type="email" class="form-control form-control-lg" id="colFormLabelLg"
                        value="{{email}}">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="col-form-label-lg">About</label>
                <textarea name="about" rows="10" class="form-control" id="exampleFormControlTextarea1"
                    rows="3">{{about}}</textarea>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>

    </div>

    <a id="anchor-bottom" name="anchor-bottom"></a>
    
    {{#if successMsg}}
    <div class="alert alert-success" id="success-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Success!</strong> {{successMsg}}
    </div>
    {{/if}}
    {{#if anchor}}
    <script>
        window.onload = window.location.hash = '#{{anchor}}';
    </script>
    {{/if}}
</body>

</html>