<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/album.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Profile</title>
</head>

<body>
    {{>navbar}}
    {{>modal}}
    <div class="jumbotron">
        <h1>Hello, {{user.artist_name}}</h1>
    </div>
    <div class="container">
        <div class="pro-img">
            <a href='#'>
                <img data-toggle="modal" data-target="#exampleModalCenter" src="{{album.album_cover}}" alt="" class="album-img">
            </a>
        </div>


        <form action="/profile-album/{{album.id}}" method="POST">
            <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Artist Name</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-lg" id="colFormLabelLg" name="artist_name" value="{{album.artist_name}}" placeholder="Artist Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Album Title</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-lg" id="colFormLabelLg" name="album_name" value="{{album.album_name}}" placeholder="Album Title">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Album Username</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-lg" id="colFormLabelLg" name="username" value="{{album.username}}" placeholder="Album Username">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Genre</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-lg" id="colFormLabelLg" placeholder="e.g. Punk/Rock" value="{{album.genre}}" name="genre">
                </div>
            </div>
            <!-- 
            <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Songs</label>

                <div class="input-group mb-2 col-sm-10">
                    <input type="text" class="form-control form-control-lg" placeholder="Song URL" name="song_url">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit" name="add_btn"> Add </button>
                    </div>
                </div>

            </div> -->

            <!-- Editable table -->
            <a id="anchor-songs" name="anchor-songs"></a>
            <div class="card">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-md-7">
                            <h3>SONGS</h3>
                            <!-- <div class="col-md-2 float-right"> -->

                            <!-- </div> -->
                        </div>
                        <div class="col-md-5">
                            <button type="button" class="btn-add w-80" data-toggle="modal" data-target="#exampleModalCenter1"><i class="fa fa-plus"></i></button>
                        </div>


                    </div>
                </div>
                <div class="card-body">
                    <div id="table" class="table-editable">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">URL</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#songs}}
                                <tr>
                                    <th scope="row">1</th>
                                    <td>{{song_title}}</td>
                                    <td class="song-url">{{song_url}}</td>
                                    <td>{{duration}}</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="submit" class="btn1 btn-primary" name="edit_btn">Edit</button>
                                            <button type="submit" class="btn2 btn-secondary btn-danger" name="delete_btn">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                {{/songs}}
                                {{#songs_list}}
                                <tr>
                                    <th scope="row">1</th>
                                    <td class="song-url">{{song_title}}</td>
                                    <td>{{song_url}}</td>
                                    <td>{{duration}}</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="submit" class="btn1 btn-primary" name="edit_btn">Edit</button>
                                            <button type="submit" class="btn2 btn-secondary btn-danger" name="delete_btn">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                {{/songs_list}}

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
            <!-- Editable table -->
            <button type="submit" class="btn btn-primary btn-save" name="btn-save">Save Changes</button>



        </form>
        {{#if successMsg}}
        <div class="alert alert-success" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Success!</strong> {{successMsg}}
        </div>
        {{/if}}
        <!-- 
        <audio src="https://musikcolab.s3.amazonaws.com/01_Heroe+(feat.+Sesi).mp3">Heroe song</audio> -->

    </div>

    {{#if anchor}}
    <script>
        window.onload = window.location.hash = '#{{anchor}}';
    </script>
    {{/if}}
</body>

</html>